/* All styles for your Card Components live here */

.card-container{
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    margin-left: 30%;
}

.card-banner{
    margin-top: 180px;
    width: 100%;
}

.gray-stuff{
    color: gray;
}

.card-content {
    border: 1px solid gray;
}